[submodule "apt"]
	path = apt
	url = https://github.com/opscode-cookbooks/apt.git
[submodule "build-essential"]
	path = build-essential
	url = https://github.com/opscode-cookbooks/build-essential.git
[submodule "nodejs"]
	path = nodejs
	url = https://github.com/mdxp/nodejs-cookbook.git
[submodule "yum"]
	path = yum
	url = https://github.com/opscode-cookbooks/yum.git
[submodule "authbind"]
	path = authbind
	url = https://github.com/realityforge/chef-authbind.git
